

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(R.jpg);
        
    color: white;
    font-family: 'Inter', sans-serif;
    
}

header {
    text-align: center;
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(44, 5, 5, 0.13);
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: #1dc5ce;
    text-shadow: 0 0 20px #00e5ff;
}


nav {
    margin-top: 40px;
}

nav a {
    color: white;
    margin: 0 15px;
    padding: 10px 18px;
    border-radius: 30px;
    transition: 0.2s;
    border: 1px solid transparent;
}

nav a:hover {
    background: #00e5ff;
    color: black;
    border-color: white;
}